<a href="https://colab.research.google.com/github/EasonJia9598/3360/blob/main/find_TTT_sequence_in_n_tossing3360_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A fair coin is tossed 9 times.


(1) What is the probability that the sequence TTT occurs at least once
in the 9 tosses?

In [5]:
#-----------------------------------------------------------------------
# <copyright file="https://github.com/EasonJia9598/3360">
#     Author: Zesheng Jia
#     Copyright (c) Developer Express. All rights reserved.
# </copyright>
#----
import itertools 
import pandas as pd

result = []
num_result = 0

for index in range(7): 
  array = []
  sample_space = [1,2,3,4,5,6,7]

  # get the combination of sample_space
  for subset in itertools.combinations(sample_space, index + 1):
    array.append(subset) # save the subset to an array for future accessing

  # use sets to eliminate all duplicate items
  sets = []
  for i in range(len(array)):
    myset = set()
    # for each sequence, we actually save its index, its index + 1, its index +2
    # as the TTT. So if we save each event's all possible index into a set.
    # we can eliminate the duplicate items and find the total length.
    for j in range(len(array[i])):
        for k in range(3):
          myset.add(array[i][j] + k)
    sets.append(myset)

  # find our corresponding sets' total TTT length
   # That is our m of  "n * (1/2)^m"
  num_items = []

  for item in sets:
    num_items.append(len(item))

  # we use a dictionary to retreive the amounts of the sets with a same total 
  # TTT length.
  # That is our n of  "n * (1/2)^m"

  num_counts = {}

  for number in num_items:
    # get each number index from each instance
      if num_counts.get(number) == None:
        num_counts[number] = 1
      # if the number alreadt exits, then add number 1
      else:
        num_counts[number] = num_counts.get(number) + 1 

  # PRINT SUMMARY
  # 
  print("\n###############")
  print('For ' , index + 1,  ' pair , we have ')

  temp_result = ""
  
  for key in num_counts:
    if index % 2 == 0:
      print( ' + ',end = '')
      temp_result += ' + '
      num_result = num_result + num_counts[key] * ((0.5)**key)
    else:
      print( ' - ', end = '')
      temp_result += ' - ' 
      num_result = num_result - num_counts[key] * ((0.5)**key)
      
    print(num_counts[key], ' * (1/2)^',  key, end='')
    temp_result += (str(num_counts[key]) +' * (1/2)^' + str(key))


  # use panda dataframe to format our result and sorting.
  result.append(temp_result)
  print("\n")
  df = pd.DataFrame(array)
  df['total_TTT_length'] = pd.DataFrame(num_items)
  df = df.sort_values(by=['total_TTT_length', 0])
  df = df.reset_index(drop = True)
  print(df)

print("#############################")
print("final result:", num_result)

###############
For  1  pair , we have
 + 7  * (1/2)^ 3

   0  total_TTT_length
0  1                 3
1  2                 3
2  3                 3
3  4                 3
4  5                 3
5  6                 3
6  7                 3

###############
For  2  pair , we have
 - 6  * (1/2)^ 4 - 5  * (1/2)^ 5 - 10  * (1/2)^ 6

    0  1  total_TTT_length
0   1  2                 4
1   2  3                 4
2   3  4                 4
3   4  5                 4
4   5  6                 4
5   6  7                 4
6   1  3                 5
7   2  4                 5
8   3  5                 5
9   4  6                 5
10  5  7                 5
11  1  4                 6
12  1  5                 6
13  1  6                 6
14  1  7                 6
15  2  5                 6
16  2  6                 6
17  2  7                 6
18  3  6                 6
19  3  7                 6
20  4  7                 6

###############
For  3  pair , we have
 + 5  * (1/2)^ 5 + 8  * (1/2)^ 6 + 15  * (1/2)^ 7 + 6  * (1/2)^ 8 + 1  * (1/2)^ 9

    0  1  2  total_TTT_length
0   1  2  3                 5
1   2  3  4                 5
2   3  4  5                 5
3   4  5  6                 5
4   5  6  7                 5
5   1  2  4                 6
6   1  3  4                 6
7   2  3  5                 6
8   2  4  5                 6
9   3  4  6                 6
10  3  5  6                 6
11  4  5  7                 6
12  4  6  7                 6
13  1  2  5                 7
14  1  2  6                 7
15  1  2  7                 7
16  1  3  5                 7
17  1  4  5                 7
18  1  5  6                 7
19  1  6  7                 7
20  2  3  6                 7
21  2  3  7                 7
22  2  4  6                 7
23  2  5  6                 7
24  2  6  7                 7
25  3  4  7                 7
26  3  5  7                 7
27  3  6  7                 7
28  1  3  6                 8
29  1  3  7                 8
30  1  4  6                 8
31  1  5  7                 8
32  2  4  7                 8
33  2  5  7                 8
34  1  4  7                 9

###############
For  4  pair , we have
 - 4  * (1/2)^ 6 - 9  * (1/2)^ 7 - 15  * (1/2)^ 8 - 7  * (1/2)^ 9

    0  1  2  3  total_TTT_length
0   1  2  3  4                 6
1   2  3  4  5                 6
2   3  4  5  6                 6
3   4  5  6  7                 6
4   1  2  3  5                 7
5   1  2  4  5                 7
6   1  3  4  5                 7
7   2  3  4  6                 7
8   2  3  5  6                 7
9   2  4  5  6                 7
10  3  4  5  7                 7
11  3  4  6  7                 7
12  3  5  6  7                 7
13  1  2  3  6                 8
14  1  2  3  7                 8
15  1  2  4  6                 8
16  1  2  5  6                 8
17  1  2  6  7                 8
18  1  3  4  6                 8
19  1  3  5  6                 8
20  1  4  5  6                 8
21  1  5  6  7                 8
22  2  3  4  7                 8
23  2  3  5  7                 8
24  2  3  6  7                 8
25  2  4  5  7                 8
26  2  4  6  7                 8
27  2  5  6  7                 8
28  1  2  4  7                 9
29  1  2  5  7                 9
30  1  3  4  7                 9
31  1  3  5  7                 9
32  1  3  6  7                 9
33  1  4  5  7                 9
34  1  4  6  7                 9

###############
For  5  pair , we have
 + 3  * (1/2)^ 7 + 8  * (1/2)^ 8 + 10  * (1/2)^ 9

    0  1  2  3  4  total_TTT_length
0   1  2  3  4  5                 7
1   2  3  4  5  6                 7
2   3  4  5  6  7                 7
3   1  2  3  4  6                 8
4   1  2  3  5  6                 8
5   1  2  4  5  6                 8
6   1  3  4  5  6                 8
7   2  3  4  5  7                 8
8   2  3  4  6  7                 8
9   2  3  5  6  7                 8
10  2  4  5  6  7                 8
11  1  2  3  4  7                 9
12  1  2  3  5  7                 9
13  1  2  3  6  7                 9
14  1  2  4  5  7                 9
15  1  2  4  6  7                 9
16  1  2  5  6  7                 9
17  1  3  4  5  7                 9
18  1  3  4  6  7                 9
19  1  3  5  6  7                 9
20  1  4  5  6  7                 9

###############
For  6  pair , we have
 - 2  * (1/2)^ 8 - 5  * (1/2)^ 9

   0  1  2  3  4  5  total_TTT_length
0  1  2  3  4  5  6                 8
1  2  3  4  5  6  7                 8
2  1  2  3  4  5  7                 9
3  1  2  3  4  6  7                 9
4  1  2  3  5  6  7                 9
5  1  2  4  5  6  7                 9
6  1  3  4  5  6  7                 9

###############
For  7  pair , we have
 + 1  * (1/2)^ 9

   0  1  2  3  4  5  6  total_TTT_length
0  1  2  3  4  5  6  7                 9
#############################
final result: 0.46484375

In [2]:
num_result

0.46484375

In [3]:
# Correct answer
119/256

0.46484375

We can see that we have the same value of our program and question result.

In [ ]:
# all items in our equation
for i in range(len(result)):
  print(result[i],end='')
  if i == 2 :
    print()

 + 7 * (1/2)^3 - 6 * (1/2)^4 - 5 * (1/2)^5 - 10 * (1/2)^6 + 5 * (1/2)^5 + 8 * (1/2)^6 + 15 * (1/2)^7 + 6 * (1/2)^8 + 1 * (1/2)^9
 - 4 * (1/2)^6 - 9 * (1/2)^7 - 15 * (1/2)^8 - 7 * (1/2)^9 + 3 * (1/2)^7 + 8 * (1/2)^8 + 10 * (1/2)^9 - 2 * (1/2)^8 - 5 * (1/2)^9 + 1 * (1/2)^9

In [4]:
result

[' + 7 * (1/2)^3',
 ' - 6 * (1/2)^4 - 5 * (1/2)^5 - 10 * (1/2)^6',
 ' + 5 * (1/2)^5 + 8 * (1/2)^6 + 15 * (1/2)^7 + 6 * (1/2)^8 + 1 * (1/2)^9',
 ' - 4 * (1/2)^6 - 9 * (1/2)^7 - 15 * (1/2)^8 - 7 * (1/2)^9',
 ' + 3 * (1/2)^7 + 8 * (1/2)^8 + 10 * (1/2)^9',
 ' - 2 * (1/2)^8 - 5 * (1/2)^9',
 ' + 1 * (1/2)^9']